<template name="algorithm">
  <a href="{{pathFor 'algorithms'}}">← Back</a>
  {{#with algorithm}}
    <div class="algorithm">
    <div style='display: inline;'>
		<span>
			<span style='font-size: 18px;font-weight:bold;color: #EEE;'>{{title}}</span>
			<div id='clone-algo' class='btn btn-primary'>Clone this Algo</div>
      <a href="#" class="delete"><div class='btn btn-primary'>Delete</div></a>
		</span>
    </div>
      <pre>
      {{#markdown}}
```js
{{body}}
```
      {{/markdown}}
      </pre>

    </div>
  {{/with}}
</template>