<template name="algorithms">
  <div style='background-color: #999'></div>
  <style>
  	.algo-card {
  		background-color: #EEE;
  		margin:1.2em 1.2em 1.2em 1.2em;
  		width: 200px;
  		height: 200px;
  		display: inline-block;
  		overflow-y: scroll;
  		overflow-x: hidden;
  	}
  	.hljs {
  		background-color:#EEE;
      overflow-x: hidden;
  		opacity: .5;
  	}
  	.hljs:hover {
  		background-color: #DDD;
  		opacity: 1.0;
  	}
   	.algo-card:hover {
  		background-color:#DDD;
		  transform: scale(1.4);
  	}
	.grow { transition: all .03s ease-in; }
	.grow:hover {
 		-webkit-transform: scale(1.2);
		-moz-transform: scale(1.2);
		-ms-transform: scale(1.2);
		-o-transform: scale(1.2);
		transform: scale(1.2);
	}
  </style>
  <div class='row-fluid' style='display:inline;'>
    	<!-- {{rowMaker title}} -->
    {{#each algorithms}}
      <a href="{{pathFor 'algorithm'}}">
        <div class='algo-card grow'>
  	      <a href="{{pathFor 'algorithm'}}">{{title}}</a>
          {{#markdown}}
```js
{{body}}
```
  	      {{/markdown}}
        </div>
      </a>
    {{/each}}
   </div>
</template>