<template name='teamView'>

  <link rel="stylesheet" href="productPage.css">
  <link rel="stylesheet" href="teamView.css">

  <div class='col-md-12 teamContainer'>
    <h1>QUANTO TEAM</h1>
    <div class='col-md-3 teamMember'>
      <h2>Garrett Fitzgerald</h2>
      <img class="headshot" src="sizedGarrett.png">
      <p class='bio'></p>
    </div>
    <div class='col-md-3 teamMember'>
      <h2>James Munsch</h2>
      <img class="headshot" src="sizedJames.png">
      <p class='bio'></p>
    </div>
    <div class='col-md-3 teamMember'>
      <h2>Charlie Harding</h2>
      <img class="headshot" src="sizedCharlie.png">
      <p class='bio'></p>
    </div>
    <div class='col-xs-3'>
      <div id='team-right-arrow' class='right-arrow glyphicon glyphicon-menu-right'></div>
    </div>
  </div>
</template>