<template name ="buttonRow">
	<div class="text-center">
		<div class="btn-group" role="group" aria-label="...">
			<button type="button" class="btn-xlarge" aria-label="Center Align">
		  <span class="glyphicon glyphicon-signal" aria-hidden="true"></span>
		    </button>

		    <button type="button" class="btn-xlarge" aria-label="Center Align">
		  <span class="glyphicon glyphicon-th" aria-hidden="true" data-toggle="modal" data-target="#myModal"> </span>
		    </button>

		     <button type="button" class="btn-xlarge" aria-label="Center Align">
		  <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
		 	</button>
		</div>
	</div>
</template>