<template name="searchBar">
  <style>
    .innerptag {
      z-index: 1;
    }
    .search-res-inner {
      background-color: #999;
      position: relative;
      z-index: 999;
      width: 95%;
      margin: 5px auto;
      display: table;
      border-radius: 5px;
    }
    .search-res-inner:hover {
      cursor: pointer;
      background-color: lightgrey;
    }
    #search-results {
      background-color: darkgrey;
      position: absolute;
      z-index: 997;
      width: 75%;
      margin: 0 auto;
      display: table;
      border-radius: 0px 0px 10px 10px;
    }
    #search-result {
      z-index: 999;
      margin: 15px;
    }
   
    .searchbar {
      float: none;
      margin-left: auto;
      margin-right: auto;
      padding: 0px 0px 0px 0px;
      margin: 0px 0px 0px 0px;
      z-index:3;
    }
    .tealBg {
      text-align:center;
    }
    .form-control {
      color: #8df078;
      border-color: white;
      border-radius: 5px 5px 0px 0px;
      border-width: 2px 2px 2px 2px;
      background-color: #313133;
    }
  </style>
  <div class="searchbar col-md-12">
      <div class="text-center">
        <form role="form" class="search" style='display: inline;'>
          <input type="search" placeholder="Search for company name or ticker symbol" name='searchQuery' class="form-control">
        </form>
        <div id='search-results'></div>
      </div>
  </div>
 </template>

