<template name="textEditor">
	<style>
    div#ace-editor-div.col-md-12 {
      padding-right: 0px;
      padding-left: 0px;
    }
    #archy {
      height: 400px;
    }
    .tab-pane {
      height: 400px;
    }
	</style>
	<div class='col-md-5' style='display: block'>

		<ul class="nav nav-tabs nav-justified" role="tablist">
			<li role="presentation"><a href='#Forge' role="tab" data-toggle="tab" id='algo-tab'>Forge</a></li>
			<li role="presentation"><a href='#Data' role="tab" data-toggle="tab">Data</a></li>
			<li role="presentation"><a href='#Query' role="tab" data-toggle="tab">Query</a></li>
			<li role="presentation"><a href='#Algorithms' role="tab" data-toggle="tab" id='algo-tab'>Algos</a></li>
		</ul>
	  <!-- Tab panes -->
		<div class="tab-content">
		    <div role="tabpanel" class="tab-pane active" id="Forge">
		    	<div class='col-md-12' id='ace-editor-div'>
					<pre id='archy'></pre>
					<div class='col-md-5' style='font'>
						<span id='clone-algo' class='col-md-4 btn-md btn-primary'>Save</span>
						<span id='clone-algo' class='col-md-4 btn-md btn-primary'>Run</span>
						<span id='clone-algo' class='col-md-4 btn-md btn-primary'>Test</span>
					</div>
				</div>
			</div>
			<div role="tabpanel" class="tab-pane" id="Data">
					{{> spreadsheet}}
			</div>
			<div role="tabpanel" class="tab-pane" id="Query">
				<div>QUERY</div>
			</div>
			<div role="tabpanel" class="tab-pane" id="Algorithms">
				<div>{{> algorithms}}</div>
			</div>
		</div>
	</div>
<!-- 	<div class='col-md-7'></div>
 -->

	<div class='col-md-7'>
		{{> charts}}
	</div>

</template>