<template name="textEditor">
	<style>
    div#ace-editor-div.col-md-12 {
      padding-right: 0px;
      padding-left: 0px;
    }
    #archy {
      height: 400px;
    }
    .glyphicon {
      background-color: #000;
      cursor: pointer;
      height:20px;
      padding-top: 3px;
    }
    .tab-pane {
      height: 400px;
    }
	</style>

	<ul class="nav nav-tabs nav-justified" role="tablist">
		<li role="presentation"><a href='#Forge' role="tab" data-toggle="tab" id='algo-tab'>Forge</a></li>
		<li role="presentation"><a href='#Data' role="tab" data-toggle="tab">Data</a></li>
		<li role="presentation"><a href='#Algorithms' role="tab" data-toggle="tab" id='algo-tab'>Algos</a></li>
	</ul>
  <!-- Tab panes -->
	<div class="tab-content">
	    <div role="tabpanel" class="tab-pane active" id="Forge">
	    	<div class='col-md-12' id='ace-editor-div'>
				<pre id='archy'></pre>
				<div class='col-md-6' style='font'>
					<div id='save-algo' class='col-md-4 glyphicon glyphicon-floppy-disk btn-primary'></div>
					<div id='graph-data' class='col-md-4 glyphicon glyphicon-stats btn-primary'></div>
				</div>
			</div>
		</div>
		<div role="tabpanel" class="tab-pane" id="Data">
				{{> spreadsheet}}
		</div>
		<div role="tabpanel" class="tab-pane" id="Algorithms">
			<div>{{> algorithms}}</div>
		</div>
	</div>
</template>