<template name="landingPage">

<style>

body {
  background-image: url("lowResBlackBckgrnd.jpg");
}
.searchbar {
	margin-top: 150px;
     float: none;
     margin-left: auto;
     margin-right: auto;
}

</style>


<div class="searchbar">

  <div class="col-md-offset-5">

    <div class="text-center">

      <form role="form" class="search">
        <input type="search" placeholder="search" name='searchQuery' class="form-control">
        <button class="btn" type="button">Search</button>
      </form>
      
      <!-- /.max-width on this form -->
    </div>
  </div>
</div>

 </template>