<template name="landingPage">

<style>

body {
  background-image: url("lowResBlackBckgrnd.jpg");
}
.tealBg {
  text-align:center;
}

</style>

{{#Scene}}
  {{#Node size=nodeSize align=nodeAlign mountPoint=nodeMountPoint rotation=reactiveRotation origin=nodeOrigin}}
    {{#DOMElement class="tealBg" dir="rtl"}}
      {{>inner}}
    {{/DOMElement}}
  {{/Node}}
{{/Scene}}

</template>


<!-- need inner template to respond to click events for some reason -->
<template name="inner">

  <img src="logo.png">

</template>