 <!-- need inner template to respond to click events for some reason -->
<template name="inner">

  <img src="logo.png">

</template>

<template name="landingPage">

<style>

body {
  background-image: url("lowResBlackBckgrnd.jpg");
}
.searchbar {
	margin-top: 150px;
     float: none;
     margin-left: auto;
     margin-right: auto;
.tealBg {
	background: #30ACAC;
  color: #BC6916;
}
</style>

<div class="searchbar">

  <div class="col-md-2"></div>

  <div class="col-md-8">
    <div class="text-center">
      <form role="form" class="search" style='display: inline;'>
        <input type="search" placeholder="search" name='searchQuery' class="form-control">
        <!-- <button class="btn" type="button">Search</button> -->
      </form>
      <!-- /.max-width on this form -->
      <div id='search-results'></div>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>

 </template>

