<template name='combinedViews'>
  <style type="text/css">
    .searchBar{
      text-align: right;
      margin: 20px;
    }
    .chart{
      margin-top: 48px;
    }
  </style>
  <div class='searchBar'>
    {{> searchBar}}
  </div>
  <div class='col-md-12' style="position: fixed">
    <div class='col-md-5' style='display: block'>
      {{> textEditor}}
    </div>
    <div class='col-md-7 chart'>
      {{> charts}}
    </div>
  </div>
</template>

<template name="innerNado">

  <img src="logo.png">

</template>