<template name="footer">
<style>

.nav.navbar.navbar-fixed-bottom {
	background-color: black;
	color: black;
}

</style>

		  	<nav class="navbar navbar-fixed-bottom">
		  		<div class="container-fluid">
		  			<div class='col-xs-4'></div>
		  			<div class='col-xs-4'>
		  				<center>
			  				<a class="footer-brand" href="{{pathFor 'siteMap'}}"> SiteMap </a>
				  			<a class="footer-brand" href="{{pathFor 'landingPage'}}"> Home </a>
				  			<a class="footer-brand" href="{{pathFor 'siteMap'}}"> About </a>
				  		</center>
		  			</div>
		  			<div class='col-xs-4'></div>
  				</div>
  			</nav>
</template>