<template name="footer">

  <style type="text/css">
    @font-face {
      font-family: DeliciousRoman;
      src: url(neuropolxfree.ttf);
      font-weight:400;
      }

    .set-font {
        font-family: DeliciousRoman;
      }

    .footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      /* Set the fixed height of the footer here */
      height: 42px;
      background-color: #313133;
      border-style: solid;
      border-color: #8df078;
      border-width: 2px;
    }
    #homeButton {
      background-color: #313133;
      margin: 0px 0px 0px 0px;
      color: #90ee7e;
    }
    .tinyLogo {
      float: right;
      position: relative;
    }
    .home-container {
      padding: 0px 0px 0px 0px;
      margin: 0px 0px 0px 0px;
    }
  </style>

  <footer class="footer">
    <div class='col-md-6 home-container'>
      <div id='homeButton' class='glyphicon glyphicon-home btn-primary' title="Return to product information page"> Home</div>
    </div>
    <div class='col-md-6'>
         {{> stockTwits }}
    </div>
    <div>
    </div>
  </footer>

</template>