<template name="footer">

  <style type="text/css">
    @font-face {
      font-family: DeliciousRoman;
      src: url(neuropolxfree.ttf);
      font-weight:400;
      }

    .set-font {
        font-family: DeliciousRoman;
      }

    .footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      /* Set the fixed height of the footer here */
      height: 6.5%;
      background-color: #313133;
      border-style: solid;
      border-color: #8df078;
      border-width: 2px;
    }
    #homeButton {
      background-color: white;
      margin: 6px;
      color: #af81ff;
      border-radius: 5px;
    }
    .tinyLogo {
      float: right;
      position: relative;
    }
  </style>

  <footer class="footer">
    <div class='col-md-6'>
      <div id='homeButton' class='glyphicon glyphicon-home btn-primary' title="Return to product information page"> Home</div>
    </div>
    <div class='col-md-6'>
         {{> stockTwits }}
    </div>
    <div>
    </div>
  </footer>

</template>