<template name="header">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">JCG-Capital</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
      <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Login <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="brand"> About Page </a></li>
              <li><a href="#">Option 1</a></li>
              <li><a href="#">Option 2</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </li>
        </ul>
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
        <ul class="nav navbar-nav navbar-right">
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
<div class="header">
    <ul>
      <li><a href="{{pathFor 'main'}}">Main</a></li>
      <li><a href="{{pathFor 'content'}}">Content page</a></li>
      <li><a href="{{pathFor 'algorithms'}}">Algorithms</a></li>
      <li><a href="{{pathFor 'charts'}}">Charts</a></li>
      <li><a href="{{pathFor 'modalTrigger'}}">modalTrigger</a></li>
      <li><a href="{{pathFor 'buttonRow'}}">buttonRow</a></li>
      <li><a href="{{pathFor 'texteditor'}}">Ace Editor</a></li>
      <li><a href="/404">404 Link</a></li>
      {{#if isLoggedIn}}
        <li><a href="/" class="log-out">Log Out</a></li>
      {{else}} 
        <li><a href="{{pathFor 'signup'}}">Sign Up</a></li>
        <li><a href="{{pathFor 'login'}}">Log In</a></li>   
      {{/if}}
    </ul>
  </div>
  <hr/>
  <div class="messages">
    {{#each messages}}
      <p class="message message-{{type}}">{{message}}</p>
    {{/each}}
  </div>
</template>